<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surmize.stlouiszoo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.surmize.stlouiszoo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA2tuBndrbfeTA0qFRraxWzh8cptiTUPLg" />

        <activity
            android:name="com.surmize.stlouiszoo.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.surmize.stlouiszoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.MainActivity" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.AnimalTypes"
            android:label="@string/title_activity_animal_types"
            android:parentActivityName="com.surmize.stlouiszoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.MainActivity" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.AnimalList"
            android:label="@string/title_activity_animal_list"
            android:parentActivityName="com.surmize.stlouiszoo.AnimalTypes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.AnimalTypes" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.AnimalDetails"
            android:label="@string/title_activity_animal_details"
            android:parentActivityName="com.surmize.stlouiszoo.AnimalList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.AnimalList" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.ZooHours"
            android:label="@string/title_activity_zoo_hours"
            android:parentActivityName="com.surmize.stlouiszoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.MainActivity" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.ZooAttractions"
            android:label="@string/title_activity_zoo_attractions"
            android:parentActivityName="com.surmize.stlouiszoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.MainActivity" />
        </activity>
        <activity
            android:name="com.surmize.stlouiszoo.ZooInfo"
            android:label="@string/title_activity_zoo_info"
            android:parentActivityName="com.surmize.stlouiszoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.surmize.stlouiszoo.MainActivity" />
        </activity>
    </application>

</manifest>
